body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

img {
    display: block;
}
section {
    padding: 120px 0;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-header {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
}

/* ================== */
/*       HEADER       */
/* ================== */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 332px;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo-nav {
    margin-right: 76px;
}

.logo-nav,
.logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #4d5ae5;
    display: inline-block;
}

.logo-nav .logo-part {
    color: #2e2f42;
}

.nav-bar,
.nav-address-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.logo-nav{
    padding: 24px 0;
}
.navigation .nav-bar a,
.nav-address a {
    text-decoration: none;
    color: currentColor;
}

.navigation .nav-bar a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigation .nav-bar a:hover,
.navigation .nav-bar a:focus,
.nav-address-list a:hover,
.nav-address-list a:focus {
    color: #404BBF;
}

.nav-address {
    font-style: normal;
}

.nav-address .nav-adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ================== */
/*        HERO        */
/* ================== */

.hero-section {
    background-color: #2e2f42;
    color: #fff;
    padding: 188px 0;
}

.hero-section h1 {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    background-color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: currentColor;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* ================== */
/*     ADVANTAGES     */
/* ================== */


.advantages-section-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.advantages-section-item {
    width: calc((100% - 72px) / 4);
}

.section-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

/* ================== */
/*        TEAM        */
/* ================== */

.team-section {
    background-color: #F4F4FD;
}

.team-section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}

.team-section-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-member {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    text-align: center;
}

.team-member-content-container {
    text-align: center;
    padding: 32px 0;
}

/* ================== */
/*     PORTFOLIO     */
/* ================== */

.portfolio-section {
    text-align: center;
    background-color: #FFFFFF;
}

.portfolio-section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}

.porfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.porfolio-member {
    width: calc((100% - 48px) / 3);
}

.portfolio-member-content-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
}

/* ================== */
/*       FOOTER       */
/* ================== */

.page-footer {
    background-color: #2e2f42;
    color: #fff;
    padding: 100px 0;
}

.logo-footer {
    margin-bottom: 16px;
}

.logo-footer .logo-part {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}